.search {
  display: flex;
  align-items: center;
  border: none;
  padding: 3px;
  justify-content: space-between;
  background-color: transparent;
  padding: 10px 25px;
  border-radius: 15px 15px 0px 0px;

  input {
    border: none;
    outline: none;
    background-color: transparent;
    color: gray;
    font-size: 14;

    &::placeholder {
      font-size: 14px;
      color: gray;
    }
  }
  .icon {
    color: gray;
  }
}
