.marketTitle {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;

  .top {
    display: flex;
    align-items: center;
    gap: 15px;

    .logo {
      height: 6vh;
    }
    .contentContainer {
      color: white;
      font-size: 4vh;
      font-weight: 500;
    }
  }
  .bottom {
    font-weight: 200;
    font-size: 18px;
    color: gray;
  }
}
