.marketTitle {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;

  .top {
    display: flex;
    align-items: center;
    gap: 15px;

    .logo {
      height: 45px;
    }
    .contentContainer {
      color: white;
      font-size: 30px;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 8px;

      .icon {
        font-size: 10px;
      }
    }
  }
  .bottom {
    font-weight: 200;
    font-size: 18px;
    color: gray;
  }
}
