.widget {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  justify-content: center;
  gap: 1vh;
  align-items: center;
  background-color: #101010;
  border-radius: 10px;
  height: 100px;
  border: 0.5px #222 solid;

  .title {
    display: flex;
    align-items: center;
    font-weight: 200;

    .icon {
      color: gray;
      font-size: 15px;
      font-weight: 300;
      padding: 5px;
      cursor: pointer;
    }
  }
  .counter {
    color: white;
    font-size: 32px;
    font-weight: 600;
  }
}
