.header {
  height: 8vh;
  background-color: #101010;
  display: flex;
  align-items: center;
  font-size: 14px;

  .wrapper {
    width: 100%;
    padding: 20px;
    margin: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .defishyLogo {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      .title {
        color: #533cd9;
        font-weight: 700;
        font-size: 3vh;
      }
      .logo {
        height: 4.5vh;
        width: auto;
        object-fit: cover;
      }
    }

    .marketSelect {
      background: #533cd9;
      border-radius: 24px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 10px;
      padding: .6vh 2.1vh;

      .logo {
        height: 3.1vh;
        width: auto;
      }
      .platformName {
        color: white;
        font-weight: 100;
        font-size: 1.9vh;
        display: flex;
        align-items: center;
        gap: 6px;

        .icon {
          font-size: 5px;
        }
      }
    }
  }
}
