.header {
  height: 65px;
  background-color: #101010;
  display: flex;
  align-items: center;
  font-size: 14px;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;

  .wrapper {
    width: 100%;
    padding: 20px;
    margin: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .right {
      .defishyLogo {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        .title {
          color: #533cd9;
          font-weight: 700;
          font-size: 16px;
        }
        .logo {
          height: 40px;
          width: auto;
          object-fit: cover;
        }
      }
    }

    .left {
      display: flex;
      align-content: inherit;
      gap: 20px;

      .item {
        display: flex;
        align-items: center;
        .icon {
          font-size: 26px;
          cursor: pointer;
        }
      }

      .marketSelect {
        background-image: linear-gradient(
          to right,
          rgba(0, 184, 156, 0.498),
          rgb(219, 100, 186)
        );
        border-radius: 24px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        padding: 6px 20px;

        .logo {
          height: 25px;
          width: auto;
        }
        .platformName {
          color: white;
          font-weight: 300;
          font-size: 14px;
          display: flex;
          align-items: center;
          gap: 6px;

          .icon {
            font-size: 5px;
          }
        }
      }
    }
  }
}
