html {
  background-color: #101010;
}

body {
  @font-face {
    font-family: sans-serif;
    src: "../assets/Avenir Next Font.ttf";
}
}

.app.dark {
  background-color: rgb(10, 10, 10);
  color: rgb(156, 156, 156);

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.22);
  }

  .table {
    background-color: rgb(10, 10, 10);

    .tableCell {
      color: gray;
    }
  }

  .navbar {
    color: gray;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: rgb(10, 10, 10);
    border-color: #333;

    .top {
      .logo {
        color: gray;
      }
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: gray;
        }
      }
    }
  }

  .dataTable {
    .dataGrid {
      color: gray;
      border: none;
    }
  }
  input {
    background-color: transparent;
  }
}
