html {
  background-color: #101010;
}

body {
  @font-face {
    font-family: sans-serif;
    src: "../assets/Avenir Next Font.ttf";
  }
}

.app.dark {
  background-color: rgb(10, 10, 10);
  color: rgb(156, 156, 156);

  body {
    background-color: rgb(10, 10, 10);
    .MuiPaper-root {
      background-color: #181818;
      color: #dddddd;
    }
  }
}

.app.light {
  background-color: #f4f4f4;
  .header {
    background-color: #ffffff;
    .right {
      .item {
        .icon {
          color: #2a2a2a;
        }
        .marketSelect {
          .platformName {
            color: #2a2a2a;
            font-weight: 500;
          }
        }
      }
    }
  }

  .marketTitle {
    .left {
      .top {
        .contentContainer {
          color: #2a2a2a;
        }
      }
      .bottom {
        color: #2a2a2a;
      }
    }
    .right {
      .howToContainer {
        color: #101010;
        background-color: transparent;

        -webkit-box-shadow: 0px 0px 15px -8px #101010;
        box-shadow: 0px 0px 15px -8px #101010;

        &:hover {
          -webkit-box-shadow: 0px 0px 15px -6px #101010;
          box-shadow: 0px 0px 15px -6px #101010;
        }
      }
    }
  }

  .widget {
    background-color: #ffffff;
    border-color: #dddddd;
    .title {
      color: #7d7d7d;
      font-weight: 200;
    }
    .icon {
      color: #7d7d7d;
    }
    .counter {
      color: #2a2a2a;
    }
  }

  .dataTable {
    background-color: #ffffff;
    border-color: #dddddd;

    .searchContainer {
      background-color: #ffffff;
      border-color: #7d7d7d;
      color: #7d7d7d;
      input {
        color: #7d7d7d;
      }
      .icon {
        color: #7d7d7d;
      }
    }

    .dataGrid {
      .MuiDataGrid-columnHeaders {
        background-color: #ffffff;
      }

      .MuiButtonBase-root {
        .MuiSvgIcon-root {
          color: #7d7d7d;
        }
      }

      .MuiDataGrid-virtualScrollerContent {
        padding-top: 0px;
      }

      .columnHeader {
        color: #7d7d7d;
        .icon {
          color: #7d7d7d;
        }
      }

      .MuiDataGrid-cell {
        color: #2a2a2a;
      }

      .MuiDataGrid-footerContainer {
        background-color: #ffffff;
      }

      .MuiToolbar-root {
        color: #7d7d7d;
      }
    }
  }

  .footerContainer {
    background-color: #ffffff;
    .left {
      .slogan {
        color: #7d7d7d;
        font-weight: 300;
      }
    }
    .right {
      .item {
        color: #2a2a2a;
      }
    }
  }
}
