.home {
  display: flex;

  .homeContainer {
    flex: 6;

    .titleContainer {
      padding: 30px 60px;
    }

    .widgets {
      display: flex;
      padding: 30px 60px;
      padding-bottom: 10px;
      gap: 40px;
    }

    .data {
      padding: 30px 60px;
    }

    .footer {
      padding: 30px 60px;
    }
  }
}
