.footerContainer {
  background-color: #101010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 30px 60px;
  padding-top: 30px;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;

    .defishyLogo {
      display: flex;
      align-items: center;
      cursor: pointer;
      .title {
        color: #533cd9;
        font-weight: 700;
        font-size: 30px;
      }
      .logo {
        height: 40px;
        width: auto;
        object-fit: cover;
      }
    }
    .slogan {
      font-size: 14px;
      color: gray;
      font-weight: 300;
    }
  }

  .right {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 35px;

    .item {
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 10px;
      color: white;
      font-size: 14px;
      .svgIcon {
        height: 18px;
        width: auto;
      }
    }
  }
}
