.dataTable {
  padding: 0px;
  background-color: #181818;
  border-radius: 15px;
  border: 0.5px #222 solid;
  display: flex;
  flex-direction: column;

  hr {
    border: 1px solid gray;
    width: 95.5%;
    background-color: #181818;
    align-self: center;
  }

  .dataGrid {
    &.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
    &.MuiDataGrid-root .MuiDataGrid-cell:focus {
      outline: none;
    }

    .MuiDataGrid-cell {
      color: white;
    }

    .MuiButtonBase-root {
      .MuiSvgIcon-root {
        color: gray;
      }
    }

    .MuiDataGrid-columnHeaders {
      border-bottom: none;
      border-radius: 0px;
      padding: 0px 20px;
    }

    .columnHeader {
      font-size: 14px;
      font-weight: 400;
      color: gray;
      display: flex;
      align-items: center;
      gap: 5px;
      .icon {
        font-size: 15px;
      }
    }

    .MuiDataGrid-virtualScrollerContent {
      padding: 15px 20px;
      padding-bottom: 0px;
      background-color: #101010;
    }

    .MuiToolbar-root {
      color: gray;
      background-color: #101010;
    }

    .MuiDataGrid-cell {
      border-bottom: none;
    }

    .MuiDataGrid-columnSeparator {
      display: none;
    }

    .MuiDataGrid-footerContainer {
      background-color: #101010;
      border: none;
    }

    .healthCell {
      padding: 5px;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      .health {
        padding: 3px 8px;
        border-radius: 5px;
        &.good {
          background-color: #1fc73b;
        }
        &.moderate {
          background-color: #ffa323;
        }
        &.poor {
          background-color: #ff2d2d;
        }
      }

      .icon {
        color: #ff2d2d;
        cursor: pointer;
      }
    }
  }
}
