.dataTable {
  padding: 20px;
  background-color: #101010;
  border-radius: 15px;
  display: flex;
  flex-direction: column;

  .dataGrid {
    &.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
    &.MuiDataGrid-root .MuiDataGrid-cell:focus {
      outline: none;
    }

    .MuiDataGrid-cell {
      color: white;
    }

    .MuiButtonBase-root {
      .MuiSvgIcon-root {
        color: gray;
      }
    }

    .MuiDataGrid-columnHeaders {
      background-color: #181818;
      border-bottom: 1px solid gray;
      border-radius: 8px 8px 0px 0px;
      .MuiDataGrid-columnHeader {
        font-size: 14px;
      }
    }

    .MuiToolbar-root {
      color: gray;
    }

    .MuiDataGrid-cell {
      border-bottom: none;
    }

    .MuiDataGrid-columnSeparator {
      display: none;
    }

    .MuiDataGrid-footerContainer {
      border: none;
    }

    .healthCell {
      padding: 5px;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      .health {
        padding: 3px;
        border-radius: 3px;
        &.good {
          background-color: #00b89c;
        }
        &.moderate {
          background-color: #dbab64;
        }
        &.poor {
          background-color: #db6464;
        }
      }

      .icon {
        color: #db6464;
      }
    }
  }
}
