.dataTable {
  padding: 0px;
  border-radius: 15px;
  border: 0.5px #222 solid;
  display: flex;
  flex-direction: column;
  background-color: #101010;

  .searchContainer {
    background-color: #181818;
    border-radius: 15px 15px 0px 0px;

    .search {
      display: flex;
      align-items: center;
      border: none;
      padding: 3px;
      justify-content: space-between;
      margin: 12px 25px;
      border-radius: none;
      border-bottom: 1px solid gray;

      input {
        border: none;
        outline: none;
        background-color: transparent;
        color: gray;
        font-size: 14px;
        width: 100%;

        &::placeholder {
          font-size: 14px;
          color: gray;
        }
      }
      .icon {
        color: gray;
        cursor: pointer;
      }
    }
  }

  .dataGrid {
    &.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
    &.MuiDataGrid-root .MuiDataGrid-cell:focus {
      outline: none;
    }

    .muiDataGrid-root {
      z-index: auto;
    }

    .MuiDataGrid-cell {
      color: white;
    }

    .MuiButtonBase-root {
      .MuiSvgIcon-root {
        color: gray;
      }
    }

    .MuiDataGrid-columnHeaders {
      background-color: #181818;
      border-bottom: none;
      // border-radius: 15px 15px 0px 0px;
      border-radius: 0px;
      padding: 0px 20px;
    }

    .columnHeader {
      font-size: 14px;
      font-weight: 400;
      color: gray;
      display: flex;
      align-items: center;
      gap: 5px;
      .icon {
        font-size: 15px;
      }
    }

    .MuiDataGrid-virtualScrollerContent {
      padding: 15px 20px;
      padding-bottom: 0px;
      .MuiDataGrid-row {
        &:hover {
          background-color: transparent;
        }
      }

      .MuiDataGrid-cell {
      }
    }

    .wallet {
      color: white;

      &:hover {
        border-bottom: 1px solid white;
      }
    }

    .MuiToolbar-root {
      color: gray;
    }

    .MuiSvgIcon-root {
      color: gray;
    }

    .MuiDataGrid-cell {
      border-bottom: none;
    }

    .MuiDataGrid-columnSeparator {
      display: none;
    }

    .MuiDataGrid-footerContainer {
      background-color: #101010;
      border: none;
      border-radius: 15px;
    }

    .healthCell {
      padding: 5px;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      .health {
        padding: 3px 8px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        &.good {
          background-color: #1fc73b;
        }
        &.moderate {
          background-color: #ffa323;
        }
        &.poor {
          background-color: #ff2d2d;
        }
      }

      .icon {
        color: #ff2d2d;
        cursor: pointer;
      }

      .infinityIcon {
        color: white;
        font-size: 18px;
      }
    }
  }
}
